version: '{build}'
image: Visual Studio 2017
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
nuget:
  disable_publish_on_pr: true
init:
  # Good practise, because windows
  - cmd: git config --global core.autocrlf true

install:
  # Install repo specific stuff here
  - choco install gitversion.portable -pre -y

before_build:
  # Display .NET Core Version
  - cmd: dotnet --version
  # Display normal restore text
  #- cmd: dotnet restore
  # Display minimal restore text
  - cmd: dotnet restore --verbosity m
  # Get and Update GitVersion
  - ps: gitversion /l console /output buildserver /updateAssemblyInfo

build:
  verbosity: minimal

after_build:
  - cmd: dotnet publish src\IdentityServer4.Contrib.CosmosDB\IdentityServer4.Contrib.CosmosDB.csproj --output %appveyor_build_folder%\dist

artifacts:
- path: dist
  name: dist

test_script:
  # Run Unit Tests
  - cmd: dotnet test ./test/IdentityServer4.Contrib.CosmosDB.UnitTests/IdentityServer4.Contrib.CosmosDB.UnitTests.csproj